header {
    display: flex;
    justify-content: space-between;
    background-color: #190330 	  ;
    border-bottom: 10px solid #3D315B ;
    padding: 10px 20px;
}

nav{
    text-align: right;
}

a {
    color: #F4F4F8   ;
    display: inline-flex;
    align-items: center;
    font-family: "Fira Code", monospace;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
    text-decoration: none;
    transition: transform 120ms linear;
}

a:hover {
    transform: scale(1.03);
}

a::before{
    content: "";
    background-color: pink;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


#btnDownload {
    background-color: #FFC947 ;
    box-shadow: 5px 5px 0 black;
    display: inline-block;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 120ms step-start;
}

#btnDownload:hover {
    transform: scale(1.05);
}

#imgIcon {
    width: 56px;
    height: 56px;
}

