.main-title {
    color: #FFC947;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 40px;
    text-shadow: 4px 4px 0px black;
}

.main-title.-second{
    color: white;
    text-shadow: none;
    text-align: center;
    text-shadow: 2px 4px 0px black;
}