.skill-tec{
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: white;
    text-shadow: 1px 4px 0px black;
}

.skill-tec .skill-img{
    margin-right: 25px;
}

.skill-tec .right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .title{
    margin-bottom: 10px;
}